@use '@carbon/react';

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
  align-items: center;
}

.toast-notification {
  position: fixed;
  right: 0;
  z-index: 11;
}